body {
    font-family: Arial;
    background: #e7eef4;
}

.container {
    width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
    box-shadow: 0 0 10px #999;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #004d99;
}

.volver {
    display: block;
    margin-top: 20px;
    color: #444;
    text-decoration: none;
}
